body {
  background: black;
}
div {
  padding-top: 30px;
  margin-top: center;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  text-align: center;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://i.pinimg.com/originals/40/7c/eb/407cebfd19ec74ac8c055c647dcd7173.jpg);
}
@keyframes colorwheel {
  25% {
    color: red;
    font-size: 65px;
    text-shadow: 10px 15px  rgba(0, 0, 0, 0.8);;
  }
  50% {
    color: white;
    
  }
  75% {
    color: blue;
    
  }
}
.shadow {
  text-shadow: 5px 5px rgba(0, 0, 0, 0.8);
  font-family: fantasy;
  font-size: 70px;
  animation: colorwheel 9s infinite;
  margin-bottom: 0px;
}

a {
  color: white;
  font-family: fantasy;
}

.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover {
  background-position: right;
  font-size: 30px;
  background-size: 0px 0px;
  transform: rotate(360deg);
  background: rgba(0, 0, 0, 0.8);
}

.hold {
  font-size: 60px;
  font-family: fantasy;
}
.div1 {
  border-radius: 15px;
  font-size: 0px;
  width: 300px;
  height: 75px;
  background-position: left;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://media1.giphy.com/media/3oKIPmHcb6YSrcIDIY/giphy.gif);
  transition: background-position 2s, transform 1s, background-size 2s,
    background-color 2s;
}

.div2 {
  border-radius: 15px;

  font-size: 0px;
  width: 300px;
  height: 75px;
  font-size: 0px;
  background-position: left;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;

  background-image: url(https://media1.tenor.com/images/dbda5cf92e6c62547c096c1d29104074/tenor.gif?itemid=5021074);
  transition: background-position 2s, transform 1s, background-size 2s;
}
.div3 {
  border-radius: 15px;

  font-size: 0px;
  width: 300px;
  height: 75px;
  font-size: 0px;
  background-position: left;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://i.pinimg.com/originals/c8/91/d5/c891d5c0eba6ab3e304f8174a7c0e406.gif);
  transition: background-position 2s, transform 1s, background-size 2s;
}
.div4 {
  border-radius: 15px;

  font-size: 0px;
  width: 300px;
  height: 75px;
  font-size: 0px;
  background-position: left;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://media1.giphy.com/media/l0Ex4QcCSbOi8UAow/giphy.gif);
  transition: background-position 2s, transform 1s, background-size 2s;
}
.div5 {
  border-radius: 15px;

  font-size: 0px;
  width: 300px;
  height: 75px;
  font-size: 0px;
  background-position: left;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://media1.giphy.com/media/l41lFvtuqmey9QTAY/giphy.gif);
  transition: background-position 2s, transform 1s, background-size 2s;
}
