body {
  background-color: rgba(0, 0, 0, 0.93);
}

a {
  font-size: 30px;
  color: white;
  transition: margin-left 2s;
}
a:hover {
  margin-left: 200px;
  margin-bottom: 100px;
  font-size: 35px;
  color: crimson;
  font-family: fantasy;
}

li {
  border: 2px solid rgba(20, 10, 90, 0.8);
  border-radius: 30px;
  transition: border 2s, border-radius 2s;
}

li:hover {
  border: 9px solid rgba(30, 5, 90, 0.8);
  border-radius: 50px;
  background: rgba(255, 100, 100, 0.3);
}

ul {
  font-size: 40px;
  color: blue;
}
